@model TheDaveSite.ViewModels.MessageBoard.MessageBoardPostCommentViewModel

@using TheDaveSite.Code;

@functions{
    private static string GetShortenedComment(string comment){
        const int MAX_LENGTH = 50;
        if (comment.Length < MAX_LENGTH)
            return comment;
        else
            return comment.Substring(0, MAX_LENGTH) + "..."; 
    }
}

@{
    string anonymousAuthor = string.Empty;
}


<div class='subComment' style='padding-left:@((Model.Level+1)*15)px;' data-postId="@Model.Comment.ParentPostId" data-commentId="@Model.Comment.Id">
    <div class='shortCommentBody'>
        @if (Model.Comment.Author != null)
        {
            <div class='shortCommentInfo'>By <span style="font-weight: bold">@Model.Comment.Author.UserName</span> on @Model.Comment.PostDate.ToString("G").</div>
        }
        else
        {
            if (!string.IsNullOrEmpty(Model.Comment.AnonymousAuthorName)){
                anonymousAuthor = Model.Comment.AnonymousAuthorName;
            }
            else
            {
                anonymousAuthor = "Anonymous Commenter";
            }
            <div cl
            <div class='shortCommentInfo'>By @anonymousAuthor on @Model.Comment.PostDate.ToString("G").</div>
        }
        <div class="commentText">
            @GetShortenedComment(Model.Comment.Content) <span><a class="commentReadMore">[read more / reply]</a></span>
        </div>
    </div>
        
    <div class='longCommentBody'>
        @if (Model.Comment.Author != null)
        {
            <div class='subCommentInfo'>By <span style="font-weight: bold">@Model.Comment.Author.UserName</span> on @Model.Comment.PostDate.ToString("f").</div>
        }
        else
        {
            if (!string.IsNullOrEmpty(Model.Comment.AnonymousAuthorName)){
                anonymousAuthor = Model.Comment.AnonymousAuthorName;
            }
            else
            {
                anonymousAuthor = "Anonymous Commenter";
            }
            <div class='subCommentInfo'>By @anonymousAuthor on @Model.Comment.PostDate.ToString("f").</div>
        }
        @Html.Raw(CommentsHelpers.formatPost(Model.Comment.Content))</div>
    <div class="commentResponseTarget"></div>
</div>