@model TheDaveSite.ViewModels.MessageBoard.NewMessageBoardComment

<div class="createNewMessageBoardPostContainer">
@using (Html.BeginForm("AddNewMessageBoardPost", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(x => x.BoardId)
    @Html.HiddenFor(x => x.CommentId)
    @Html.HiddenFor(x => x.PostId)

    if (!WebSecurity.IsAuthenticated)
    {
        @: Your name:<br />
        @Html.TextBox("authorName", null, new { @class = "newPostAuthor"})<br />
    }
    
    @: Your comment:<br />
    @Html.TextAreaFor(x => x.Content, new { @class = "newCommentTextArea"})<br />

    <div class="commenterButtonContainer">
        <button id="createNewComment">Post</button> 
        <button id="cancelNewComment">Cancel</button>
    </div>
}
</div>